<div id="MainContainer">
  <div class="sidebar">
    <div id="ProfielSection">
      <div id="ProfileImage">
        <!-- <img *ngIf="profile.images?.length" [src]="profile.images[0].url" /> -->
      </div>

      <h2 class="profile-title">Ansh Shetty</h2>
      <h3 style="margin-top: 5px;">India</h3>
    </div>

    <div class="nav-section">
      <div class="nav-item  ">My Top 10</div>
      <div class="nav-item">My Albums</div>
      <div class="nav-item">My Playlists</div>
      <div class="nav-item">Listening History</div>
    </div>

    <div class="action-buttons">
      <!-- <button class="btn">View Account</button> -->
      <button class="btn">Log Out</button>
    </div>

  </div>
  <div id="StatsContainer">
    <div class="switch-container" [class.switched]="isToggled" (click)="toggleSwitch()">
      <div class="switch-slider"></div>
      <div class="switch-options">
        <div class="switch-option" ng-class="{'active': !isToggled}">
          Last Month
        </div>
        <div class="switch-option" ng-class="{'active': isToggled}">
          6 Months
        </div>
      </div>
    </div>
    <div id="TracksBox">
      <div id="Left">
        <div id="TopTrack"></div>
        <div id="NextTrack"></div>
      </div>
      <div id="Right">
        <div id="TrackContainer" *ngFor="let track of dummyTracks">
          <div class="track-image">
            <!-- <img [src]="track.album.images[0].url" alt="Track Image" /> -->
          </div>
          <div class="track-info">
            <h3>Track Name</h3>
            <h4>Artists</h4>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div id="TrackContainer" *ngFor="let track of topTracksShort">
          <div class="track-image">
            <img [src]="track.album.images[0].url" alt="Track Image" />
          </div>
          <div class="track-info">
            <h3>{{ track.name }}</h3>
            <h4>{{ track.artists[0]?.name }}</h4>
          </div>
        </div> -->