<!-- <div *ngIf="currentTrack">
  <h2>Currently Playing</h2>
  <div class="track-card">
    <img [src]="currentTrack.album.images[0]?.url" alt="Album Art" />
    <h3>{{ currentTrack.name }}</h3>
    <p>{{ currentTrack.artists.map(a => a.name).join(', ') }}</p>
  </div>
</div>

<div *ngIf="recentTracks.length">
  <h2>Recent Tracks</h2>
  <div class="track-list">
    <div class="track-card" *ngFor="let track of recentTracks">
      <img [src]="track.track.album.images[0]?.url" alt="Album Art" />
      <h4>{{ track.track.name }}</h4>
      <p>{{ track.track.artists.map(a => a.name).join(', ') }}</p>
    </div>
  </div>
</div> -->
