<!-- <p>callback works!</p>
<div *ngIf="profile">
  <h2>Welcome, {{ profile.display_name }}</h2>
  <img *ngIf="profile.images?.length" [src]="profile.images[0].url" width="150" />
</div>
<div *ngIf="!profile">
  <p>Loading...</p>
</div>

<p>Email: {{ profile.email }}</p>
<p>Country: {{ profile.country }}</p>

<div *ngIf="topTracksShort.length">
  <h3>Top Tracks (1 Month)</h3>
  <ul>
    <li *ngFor="let track of topTracksShort">
      <img [src]="track.album.images[0].url" alt="Track Image" width="100" />
      {{ track.name }} – {{ track.artists[0]?.name }}
    </li>
  </ul>
</div>

<div *ngIf="topTracksMedium.length">
  <h3>Top Tracks (6 Months)</h3>
  <ul>
    <li *ngFor="let track of topTracksMedium">
      <img [src]="track.album.images[0].url" alt="Track Image" width="100" />
      {{ track.name }} – {{ track.artists[0]?.name }}
    </li>
  </ul>
</div>

<div *ngIf="topArtistsShort.length">
  <h3>Top Artists (1 Month)</h3>
  <ul>
    <li *ngFor="let artist of topArtistsShort">
      <img [src]="artist.images[0].url" alt="Track Image" width="100" />
      {{ artist.name }}
    </li>
  </ul>
</div>

<div *ngIf="topArtistsMedium.length">
  <h3>Top Artists (6 Months)</h3>
  <ul>
    <li *ngFor="let artist of topArtistsMedium">
      <img [src]="artist.images[0].url" alt="Track Image" width="100" />
      {{ artist.name }}
    </li>
  </ul>
</div> -->


<div id="MainContainer">
  <!-- <div class="sidebar">
    <div id="ProfielSection">
      <div id="ProfileImage">
        <img *ngIf="profile.images?.length" [src]="profile.images[0].url" />
      </div>

      <h2 class="profile-title">Ansh Shetty</h2>
      <h3 style="margin-top: 5px;">India</h3>
    </div>

    <div class="nav-section">
      <div class="nav-item  ">My Top 10</div>
      <div class="nav-item">My Albums</div>
      <div class="nav-item">My Playlists</div>
      <div class="nav-item">Listening History</div>
    </div>

    <div class="action-buttons">
      <button class="btn">View Account</button>
      <button class="btn">Log Out</button>
    </div> 

  </div>-->
  <div id="Header">
    <div id="ProfielSection">
    <div id="ProfileImage">
      <img *ngIf="profile.images?.length" [src]="profile.images[0].url" />
    </div>
    <div id="ProfileInfo">
      <h4 class="profile-title">Ansh Shetty</h4>
    <h5>India</h5>
    </div>
    
  </div>
  <div id="ToggleContainer">
    <div class="switch-container" [class.switched]="isToggled" (click)="toggleSwitch()">
    <div class="switch-slider"></div>
    <div class="switch-options">
      <div class="switch-option" ng-class="{'active': !isToggled}">
        Last Month
      </div>
      <div class="switch-option" ng-class="{'active': isToggled}">
        6 Months
      </div>
    </div>
  </div>
  </div>
      
  </div>
  <div id="StatsContainer">
    <div id="TracksBox">
      <div id="Left">
        <div id="TopTrack">
          <h1>STATS</h1>
        </div>
        <div id="SecondTrack">
          <h1>Your Top Tracks</h1>
        </div>
      </div>
      <div id="Right">
        <div id="TrackContainer" *ngFor="let track of topTracksShort">
          <div class="track-image">
            <img [src]="track.album.images[0].url" alt="Track Image" />
          </div>
          <div class="track-info">
            <div id="TrackTitle">{{ track.name }}</div>
            <div id="TrackArtist">{{ track.artists[0]?.name }}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

