<div id="MainContainer">
  <div id="Header">
    <!-- <div id="ProfielSection">
      <div id="ProfileImage">
        <img *ngIf="profile.images?.length" [src]="profile.images[0].url" />
      </div>
      <div id="ProfileInfo">
        <p id="Name">{{ profile.display_name }}</p>
        <p id="Country">{{ profile.country }}</p>
      </div>
    </div> -->

  </div>

  <div id="displayContent">
    <div class="carousel-display" *ngIf="topTracksShort.length && topTracks">
      <div id="ToggleContainer">
        <div class="switch-container" [class.switched]="isToggled" (click)="toggleSwitch()">
          <div class="switch-slider"></div>
          <div class="switch-options">
            <div class="switch-option" [class.active]="!isToggled">Last Month</div>
            <div class="switch-option" [class.active]="isToggled">6 Months</div>

          </div>
        </div>
      </div>
      <div id="carousel-container">
        <button class="nav-button left" (click)="prevSlide()">‹</button>
        <div class="carousel-track">
          <div class="carousel-card" *ngFor="let track of visibleTracks(); let i = index" [ngClass]="getCardClass(i)">
            <div id="Image">
              <img [src]="track.album.images[0]?.url" alt="Track Image" />
              <div class="track-badge">{{ i }}</div>
            </div>
            <div class="track-info">
              <p id="TrackName">{{ track.name }}</p>
              <p id="ArtistName">{{ track.artists[0]?.name }}</p>
            </div>
          </div>
        </div>
        <button class="nav-button right" (click)="nextSlide()">›</button>
      </div>

    </div>

  </div>
</div>