<!-- 
<div class="background-wrapper">
  <div class="arctic-glow">
<div id="Header">
  <div id="SpotifyLogo"></div>
  <a class="Socials">Instagram</a>
  <a class="Socials">Github</a>
</div>
<div id="HeroText">
  <h1>Spotistats</h1>

</div>
  <div class="btn-container">
    <button routerLink="/login" class="nav-button">Jump In</button>
  </div>

  </div>
</div> -->

<div class="background-wrapper">
  <div class="arctic-glow">
    <div id="Header">
      <div id="SpotifyLogo"></div>
      
    </div>

    <div id="HeroText">
      <h1>Spotistats</h1>
    </div>

    <div class="btn-container">
      <button routerLink="/login" class="nav-button">Jump In</button>
    </div>
    <div id="Footer">
      <div style="margin-bottom: 50px; font-size: 20px; font-family: 'Comfortaa', cursive;">Ansh Shetty</div>
      <div class="social-links">
        <a href="https://github.com/shetty-ansh" class="Socials"><i class="fa-brands fa-github fa-2xl"></i></a>
        <a href="https://www.linkedin.com/in/ansh-shetty/" class="Socials"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
      </div>
    </div>
  </div>
</div>