<!-- 
<div class="background-wrapper">
  <div class="arctic-glow">
<div id="Header">
  <div id="SpotifyLogo"></div>
  <a class="Socials">Instagram</a>
  <a class="Socials">Github</a>
</div>
<div id="HeroText">
  <h1>Spotistats</h1>

</div>
  <div class="btn-container">
    <button routerLink="/login" class="nav-button">Jump In</button>
  </div>

  </div>
</div> -->

<div class="background-wrapper">
        <div class="arctic-glow">
            <div id="Header">
                <div id="SpotifyLogo"></div>
                <div class="social-links">
                    <a href="#" class="Socials">Instagram</a>
                    <button><i class="fa-brands fa-github fa-2xl" style="color: #ffffff;"></i></button>
                </div>
            </div>
            
            <div id="HeroText">
                <h1>Spotistats</h1>
            </div>
            
            <div class="btn-container">
                <button routerLink="/login" class="nav-button">Jump In</button>
            </div>
        </div>
    </div>

